{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="container">
{% if user.is_authenticated %}
<nav class="navbar navbar-light" style="background-color: #F0FFFF;">
  <h2> This is the homepage of the Web Application for Evaluating Recommender Systems Machine Learning CS 682 Project.
</nav>

  <div class="row align-items-center">
	
    <div class="col-sm">
      <form class="form-inline ml-auto">
			
			<img src="https://blogsensibill.files.wordpress.com/2017/03/old-header-machine-learning-pt1.gif?w=1100&zoom=2" class="rounded" alt="Rounded Image" style="width:1080px; height:600px;">
          </form>
    </div>
  </div>
  {% else %}
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <h2> This is the homepage of the Web Application for Evaluating Recommender Systems Machine Learning CS 682 Project.
  Please <a href="{% url 'login' %}" class="btn btn-outline-secondary">
            Log In</a> or <a href="{% url 'newuser' %}" class="btn btn-outline-secondary">
            Sign up</a> to continue. </h2>
</nav>

  <div class="row align-items-center">
	
    <div class="col-sm">
      <form class="form-inline ml-auto">
			
			<img src="https://blogsensibill.files.wordpress.com/2017/03/old-header-machine-learning-pt1.gif?w=1100&zoom=2" class="rounded" alt="Rounded Image" style="width:1080px; height:600px;">
          </form>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="{% url 'index' %}">

</a>


</div>




</nav>