{% extends 'base.html' %}

{% block title %}Neural_Network{% endblock %}

{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script language="javascript" type="text/javascript">
    function dynamicdropdown(listindex)
    {
        switch (listindex)
        {
        case "cross-entropy" :
            document.getElementById("final_act").options[0]=new Option("Select final_act","");
            document.getElementById("final_act").options[1]=new Option("tanh","tanh");
            document.getElementById("final_act").options[2]=new Option("softmax","softmax");
            break;
        case "bpr" :
            document.getElementById("final_act").options[0]=new Option("Select final_act","");
            document.getElementById("final_act").options[1]=new Option("linear","linear");
            document.getElementById("final_act").options[2]=new Option("relu","relu");
            break;
        case "top1" :
            document.getElementById("final_act").options[0]=new Option("Select final_act","");
            document.getElementById("final_act").options[1]=new Option("tanh","tanh");
            document.getElementById("final_act").options[2]=new Option("linear","linear");
            document.getElementById("final_act").options[3]=new Option("relu","relu");
            break;
        }
        return true;
    }
    </script>
<style>
body {
  font-family: Verdana;
  color: #4169E1;
  font-size: 14px;
}

.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 2;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.left_text {
  left: 10;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
.formcontainer {
      text-align: left;
      margin: 0px 25px 12px;
	  width: 100%;
}

div {
  text-align: justify;
  text-justify: inter-word;
}
div.a {
  text-indent: 50px;
}

div.b {
  text-indent: 20px;
}
</style>
</head>
<body>

<div class="split left">
<div class="formcontainer">
<div class="row align-items-center">
<div class="container b">
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <a><b><font size="4" color="#34495E">NEURAL NETWORK (GRU4Rec) HYPERPARAMETERS</font></b></a>
              </nav>
           </div>
	
    <div class="col-sm">
      <form action="/NN_model/" method="post">
	      {% csrf_token %}
	  
          <label class="my-1 mr-2" for="train_test">Train or Test</label>
          <select class="custom-select my-1 mr-sm-2 col-md-10 form-control-sm" id="train_test" name="train_test" required>
            <option value="">Select train or test... (Default: Display results from last Test)</option>
            <option value="Train_Test">Train and Test</option>
            <option value="Train">Train only</option>
			<option value="Evaluate">Evaluate</option>
            <option value="Display">Display results from last Test</option>
          </select>
		  <label class="my-1 mr-2" for="activation_function">Hidden Layer Activation Function</label>
          <select class="custom-select my-1 mr-sm-2 col-md-10 form-control-sm" id="activation_function" name="activation_function" required>
            <option value="">Select hidden activation function... (Default: tanh)</option>
            <option value="tanh">tanh</option>
            <option value="relu">relu</option>
          </select>
		  <label class="my-1 mr-2" for="dropout">Dropout percentage</label>
          <select class="custom-select my-1 mr-sm-2 col-md-10 form-control-sm" id="dropout" name="dropout" required>
            <option value="">Select dropout... (Default: 50%) </option>
            <option value="10">10%</option>
            <option value="20">20%</option>
			<option value="30">30%</option>
            <option value="40">40%</option>
			<option value="50">50%</option>
            <option value="60">60%</option>
			<option value="70">70%</option>
            <option value="80">80%</option>
			<option value="90">90%</option>
          </select>
		  <div class="category_div" id="category_div">Loss:
        <select class="custom-select my-1 mr-sm-2 col-md-7 form-control-sm" id="loss" name="loss" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
        <option value="">Select loss function.. (Default: cross-entropy)</option>
        <option value="cross-entropy">cross-entropy</option>
        <option value="bpr">bpr</option>
		<option value="top1">top1</option>
        </select>
    </div>
    <div class="sub_category_div" id="sub_category_div">Final Activation:
        <script type="text/javascript" language="JavaScript">
        document.write('<select name="final_act" id="final_act"><option value="">Select final_act</option></select>')
        </script>
        <noscript>
        <select id="final_act" name="final_act">
            <option value="tanh">tanh</option>
            <option value="softmax">softmax</option>
        </select>
        </noscript>
    </div>
	<br>
          <div class="form-group col-md-8">
            <label for="n_epochs">Enter number of epochs (Defualt is 10)</label>
            <input type="text" class="form-control form-control-sm" id="n_epochs" name="n_epochs" required>
          </div>
          <div class="form-group col-md-8">
            <label for="gru_layers">Enter number of GRU layers (Default is 2)</label>
            <input type="text" class="form-control form-control-sm" id="gru_layers" name="gru_layers" required>
          </div>
          <div class="form-group row col-md-3">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Run Model</button>
            </div>
          </div>
		      <br>
		</form>

</div>
</div>
</div>
</div>

<div class="split right">
<div class=a>
	<div class="container b">
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <a><b><font size="4" color="#34495E">TRAIN/TEST RESULTS</font></b></a>
              </nav>
           </div>
	{% if data_train or data_test %}
              {% for d in data_train %}
		      <div class=a>{{d}}</div>
			 {% endfor %}
			 <br>
			 <br>
			 {% for d in data_test %}
		      <div class=a>{{d}}</div>
			 {% endfor %}
			 
            {% endif %}
	<br>
	<br>
</div>
</div>   
    
</body>

{% endblock %}

