{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
	<body style="background-color:#F0F8FF;">
	<canvas id="homepage" width="1080" height="250" style="border:1px solid #F0F8FF;">
		Your browser does not support the HTML5 canvas tag.
		</canvas>
		<script>
		var c = document.getElementById("homepage");
		var ctx = c.getContext("2d");

		// Create gradient
		var grd = ctx.createLinearGradient(1070,530,0,0);
		grd.addColorStop(0,"Teal");
		grd.addColorStop(1,"White");

		// Fill with gradient
		ctx.fillStyle = grd;
		ctx.fillRect(10,10,1070,530);
		</script>
		<iframe src="https://trinket.io/embed/python/d3ec18bbd3?start=result&showInstructions=true" width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
		<script>
		var c = document.getElementById("homepage");
		var ctx = c.getContext("2d");
		ctx.font = "33px Garamond";
		ctx.fillStyle = "snow";
		// ctx.textAlign = "center";
		// ctx.fillText("Hello World", canvas.width/2, canvas.height/2);
		ctx.strokeText("This page is the Scratch Pad",100,150);
		
		</script>
	</body>
{% endblock %}